{% extends "layout.html" %}

{% block head %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}

{% block sidebar %}
  <h3>Rooms:</h3>
  <ul id="rooms">
  </ul>
    <form id="create-room" method="GET" action="">
      #<input id="create-room-name" name="room" type="text" placeholder="Create room.."autocomplete="off" required="required">
    </form>
  <hr>
  <h3>Participants:</h3>
  <ul id="participants">
  </ul>
  <hr>
  <h3 hidden>Settings</h3>
  <ul id="settings" hidden>
    <li>User: </li>
    <li>Change username</li>
    <li>Active users: </li>
  </ul>
{% endblock %}

{% block heading %}
    Loading..
{% endblock %}

{% block body %}
  <div class="chat">
    <div id="message_holder" class="message_holder">
      <ul id="messages">
      </ul>
    </div>
    <form method="POST" action="" id="chat" name="chat" autocomplete="off"><input id="message" name="message" class="message" type="text" placeholder="Message.." required="required"></form>
  </div>
{% endblock %}

{% block footer %}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
